@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}
