
venv/


__pycache__/
*.pyc
*.pyo
*.pyd


.env


.DS_Store
.vscode/
.idea/
notes.db

client/node_modules/
client/dist/
client/.vite/
client/.parcel-cache/
client/.next/
client/.DS_Store

.DS_Store

client/package-lock.json
client/package.json